
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 576px) {
    .section-one{
        flex-direction: column;
        margin: 0 auto;
    }
    .nav-links{
        display: none;
    }
    .nav-bar{
        padding-left: 4%;
        padding-right: 8%;
    }

    /* section one */
    .banner-image{
        text-align: center;
    }
    .banner-container{
        text-align: center;
    }
    .banner-text{
        text-align: left;
        padding-left: 5%;
    }
    .banner-headline{
        text-align: left;
        padding-left: 5%;
    }

    /* section two */
    .section-two-container{
        flex-direction: column;
    }
    .section-three-2{
        padding-top: 2%;
    }
    /* section-three */
    .section-three{
        flex-direction: column;
    }


/* section four */
    .section-four-item{
        border: 2px red;
        display: grid;
        grid-template-columns:repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 0 auto;
    }
    .item-1{
        grid-column: 1/span 5;
        grid-row: 1/span 4;
        position: relative;
    }
    .text-1{
        position: absolute;
        margin-top: -2.5rem;
        margin-left: 2rem;
    }
    .item-2{
        grid-column: 6/span 12;
        grid-row: 1/span 4;
        position: relative;
    } 
    .text-2{
        position: absolute;
        margin-left: 1.5rem;
        margin-top: 1rem;
    } 
    .item-3{

        grid-column: 1/span 6;
        grid-row: 5/span 4;
        position: relative;
    } 
    .text-3{
        position: absolute;
        margin-left: 1.5rem;
        margin-top: -2rem;
    } 
    .item-4{
        grid-column: 7/span 12;
        grid-row: 5/span 4;
        position: relative;
    } 
    .text-4{
        position: absolute;
        margin-left: 10rem;
        margin-top: 1rem;  
    }
    .item-5{
        grid-column: 1/span 6;
        grid-row: 9/span 12;
        position: relative;
    }
    .text-5{
        position: absolute;
        margin-top: -2.5rem;
        margin-left: 2.5rem;
    }
    .item-6{
        grid-column: 7/span 12;
        grid-row: 9/span 12;
        position: relative;
    }
    .text-6{
        position: absolute;
        margin-top: -2.5rem;
        margin-left: 1.5rem;
    } 

    .section-four-item img{
        max-width: 100%;
    }

/* section five */
    .section-five{
        text-align: center;
    }
    /* section six */
    .section-six{
        flex-direction: column;
        margin: 0 auto;
    }

    .section-six-table-part{
        padding-bottom: 2%;
        text-align: center;
    }
    /* section seven */
    .section-seven-item{
        grid-template-columns: repeat(1, 1fr);
        width: max-content;
        margin: 0 auto;
        padding: 2%;
    }
    .item-11{
        position: relative;
        }
        .item-22{
            position: relative;
        }
        .item-33{
            position: relative;
        }
        .item-44{
            position: relative;
        }
        .item-55{
            position: relative;
        }
        .item-66{
            position: relative;
        }
        .item-11-text{
            position: absolute;
            margin-top: -3rem;
            margin-left: .5rem;
            text-align: left;
        }
        .item-22-text{
            position: absolute;
            margin-top: -3rem;
            margin-left: .5rem;
            text-align: left;
        }
        .item-33-text{
            position: absolute;
            margin-top: -3.9rem;
            margin-left: .5rem;
            text-align: left;
        }
        .item-44-text{
            position: absolute;
            margin-top: -3rem;
            margin-left: .5rem;
            text-align: left;
        }
        .item-55-text{
            position: absolute;
            margin-top: -3rem;
            margin-left: .5rem;
            text-align: left;
        }
        .item-66-text{
            position: absolute;
        margin-top: -3rem;
        margin-left: .5rem;
        text-align: left;
        }

    .footer-part-1{
        flex-direction: column;
        text-align: left;
        padding: 5%;
    }
    .footer-part-2{
        padding: 5%;
        text-align: left;
    }
}