@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Shared Style */
h1{
    font-size: xx-large;
    font: bolder;
}
.body-area{
    background-color: black;
    max-width: 1200px;
}
.text-color{
    color: white;
    
}
.text-color-2{
    color: solid rgba(236, 226, 226, 0.877);
}
.display-flex{
    display: flex;  
}
.btn{
    border-radius: 45px;
    background-color:  #E6533C;
    border: none;
    padding: 5px;
    width: 7rem;
}
.btn-2{
    border-radius: 45px;
    width: 7rem;
    border: none;
    padding: 5px;
}
.main-bar{
    margin-bottom: 10px;
}

./* nav bar start */
.header-part{
    width: 90%;
}
.shape-style{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}
.nav-hamburger{
    
}
.banner-headline{
    padding-left: 1%;
}
.nav-links{
    list-style: none;
    gap: 10px;
    align-items: center;
   
}
.nav-content{
    color: rgb(231, 35, 35);
}

/* section-one */
.section-one{
    align-items: center;
    max-width: 800px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
}
.btn-3{
   
    border-radius: 5%;
    background-color: solid rgba(190, 168, 168, 0.534);
    opacity: .5;
    height: max-content;
    max-width: max-content;
    padding: 1%; 
    margin-left: 45px;
    position: absolute;
    margin-top: 80px;
}
.shape-style{
    font-family: 'Great Vibes', cursive;
    font-style: italic;
}

#box-2{
    font-size: .5rem; 
}
#box-text-1{
    font-size: 2rem;
}
.btn-4{
    
    border-radius: 5%;
    align-items: center;
    background-color: solid #7272728a;
    height: max-content;
    opacity: .5;
    max-width: max-content;
    padding: 1%; 
    margin-left: 45px;
    position: absolute;
    margin-top: -90px;
}
.inner-btn{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: rgb(238, 65, 65);
    
}
#box{
    font-size: .5rem; 
}
#box-text{
    font-size: 2rem;
}
.banner-text{
    padding: 1rem;
}
.banner-image img{
    width: 50%;
    height: 20%;
    
}
.banner-image{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}

/* section two start */
.section-two{
    max-width: 800px;
    height: max-content;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 2%;
}
.section-two-container{
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.section-two-content{
    padding: 2%;
}

.section-two-container-1 img{
    border-radius: 100%;
}
.section-two-container-1{
    margin: 5px;

}
.text-color-2{
    color: #fffcfc81;
}


/* section-three */
.section-three{
    max-width: 800px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: max-content;
    padding: 2%;
    justify-content: space-between;
    background-color: #3b373780;
    
}
.section-three-2 img{
    max-width: 190px;
    max-height: 190px;
    border-radius: 5%;
}



/* section-four */
.section-four{
    max-width: 800px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: max-content;
    padding: 1%;
    justify-content: space-between;
}
.section-four-content{
    text-align: left;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.section-four-item img{
    width: 100%;
    height: 10rem;
    opacity: .6;
}
.section-four-item{
    max-width: 800px;
    height: max-content;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
 
}
.item-1{
    grid-column: 1/span 4;
    grid-row: 1/span 6;
    position: relative;
}
.text-1{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 2rem;
}
.item-2{
   
    grid-column: 5/span 5;
    grid-row: 1/span 6;
    position: relative;
}
.text-2{
    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.item-3{
   
    grid-column: 10/span 12;
    grid-row: 1/span 6;
    position: relative;
}
.text-3{
    position: absolute;
    margin-left: 1.5rem;
    margin-top: -2rem;
}
.item-4{
    grid-column: 1/span 5;
    grid-row: 7/span 12;
    position: relative;
}
.text-4{
    position: absolute;
    margin-left: 12rem;
    margin-top: 1rem; 
}
.item-5{
    grid-column: 6/span 3;
    grid-row: 7/span 12;
    position: relative;
}
.text-5{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 2.5rem;
}
.item-6{
    grid-column: 9/span 12;
    grid-row: 7/span 12; 
    position: relative;
}
.text-6{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 1.5rem;
}


/* section-five */
.section-five{
    margin: 0 auto;
    max-width: 800px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/* section-six */
.section-six{
    background-color: rgba(76, 76, 77, 0.658);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
}
.section-six-table-part{
    max-width: 30%;
    border: 2px red;
}
.section-six-table-calculation{
    max-width: 50%;
    border: 2px red;
}
.six-table{
    border-collapse: collapse;
}
.six-table-headline{
    width: max-content;
    padding-left: 10px;
    padding-bottom: 10px;
}
.six-table, th, td{
    border: 2px solid black;
    padding: 10px;
    width: max-content;  
}
/* section six input section */
.section-six-table-calculation{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
}
.input-section{
   border: 2px salmon;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    padding-top: 5px;
    width: 100%;
    height: max-content;
    margin: 0 auto;
}
.input-1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}
.input-2{
    grid-column: 3/ span 4;
    grid-row: 1/ span 2;
}
.input-3{
    grid-column: 1/ span 1;
    grid-row: 3/ span 4;
}
.input-4{
    grid-column: 3/ span 4;
    grid-row: 3/ span 4;
}

.input-selection input, select {
    width: 100%;
    border-radius: 4px;
    background-color: #444;
    margin: 0 auto;
}
.input-selection-1 select {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 4px;
    background-color: #444;
}


/* section-seven trainer list*/
.section-seven{
    max-width: 800px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: max-content;
}
.section-seven-content{
    padding: 2%;
}
.section-seven-item img{
    width: 16rem;
    height: 10rem;
    border-radius: 5%;
}
.section-seven-item{
display: grid;
grid-template-columns: repeat(3, 1fr);
column-gap: .5rem;
row-gap: .5rem;
border-radius: 3%;
background-color: #3b373780;
padding: 1%;
}
.item-11{
position: relative;
}
.item-22{
    position: relative;
}
.item-33{
    position: relative;
}
.item-44{
    position: relative;
}
.item-55{
    position: relative;
}
.item-66{
    position: relative;
}
.item-11-text{
    position: absolute;
    margin-top: -3rem;
    margin-left: .5rem;
    text-align: left;
}
.item-22-text{
    position: absolute;
    margin-top: -3rem;
    margin-left: .5rem;
    text-align: left;
}
.item-33-text{
    position: absolute;
    margin-top: -3.9rem;
    margin-left: .5rem;
    text-align: left;
}
.item-44-text{
    position: absolute;
    margin-top: -3rem;
    margin-left: .5rem;
    text-align: left;
}
.item-55-text{
    position: absolute;
    margin-top: -3rem;
    margin-left: .5rem;
    text-align: left;
}
.item-66-text{
    position: absolute;
    margin-top: -3rem;
    margin-left: .5rem;
    text-align: left;
}
/* footer part */
.footer{
    max-width: 1200px;
    background-color: #3b373780;
    margin-top: 3%;

}
.footer-highligts-option{
    list-style: none;
}
.footer-part-1{
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 20px;
}
.footer-part-2{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer-text{
    text-align: justify;
    padding-right: 8%;
}
.footer-line{
    max-width: 800px;
    height: 1px;
    background-color: solid #fffcfc;
    margin:0 auto;
    opacity: .5;
}
.footer-headline-1{
    color: rgb(241, 57, 57);
    font-size: 3.5rem;
    font: 800;
}